{% extends "_base.html" %}
{% load socialaccount %}
{% block title %}HomePage{% endblock title %}

{% block content %}
<h1>HomePage</h1>
{% if user.is_authenticated %}
<h3>Hello</h3>{{ user.username }}
<h3><a href="{% url 'account_logout' %}">Logout</a></h3>
{% else %}
<h3><a href="{% url 'account_login' %}">Login</a></h3>
<h3><a href="{% url 'account_signup' %}">SignUp</a></h3>
<h3><a href="{% provider_login_url 'github' %}">SignUp or LogIn by Github</a></h3>
{% endif %}
{{ auth_error }} 
{% endblock content %}